* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

main {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
header {
    background-color: white;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color:rgb(74, 74, 74) ;
}
div.pizza{
    margin: 10px;
}
div.pizza p{
    text-align: center;
    padding: 5px;
}

body {
    background-color: rgb(175, 175, 175); }
footer{
    border: white solid 20px;
    border-top: white solid 0px;;
    background-color: rgb(175, 175, 175);
    margin: 20px;
    margin-top: 0;
    text-align: right;
    padding: 12px;
}
footer p {
    padding: 3px;
}